*{
    margin : 0
}
.divStyle{
    background-color:#b1cdf9;
}
.card-body{
margin-top: 4rem;
margin-left: 0rem;
}
.col-md-4{
    padding-right: 0rem;
    margin-left: 4rem;
    size: 40px;
}
.btn-style{
    background-color: #72A7FD;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
}
.img_style{
    size: 10px;
    margin-left: -20px;
    /* padding: -20px; */
    margin-right: 1rem;
}
.text_style{
    /* text-align: center; */
    /* margin-bottom: 5rem; */
    text-align: center;
}
.card-style{
  text-align: center;
   margin-right: 10rem;
}
.clapping_style{
   /* // */
   width: 300px;
}
.progress_style{
    height: 12rem;
    width: 1920px ;
    background-color: rgb(7, 145, 244);
    color: white;
}

.text-align_style{
    /* margin-top: 100px; */
    margin-left: 70px;
    /* margin: 50px; */
    padding-top: 80px;

}
#counter{
    font-size: xx-large;
    font-weight: bolder;
    /* padding-top: 100px; */
}
.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  